## Nginx Ingress
## Follow https://devopscube.com/setup-ingress-kubernetes-nginx-controller/
---
apiVersion: cert-manager.io/v1
kind: Issuer
metadata:
  name: selfsigned-issuer
  namespace: monitoring
spec:
  selfSigned: {}
---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: prometheus-selfsigned-certificate
  namespace: monitoring
spec:
  secretName: prometheus-selfsigned
  dnsNames:
  - "prometheus.example.com"
  isCA: true
  issuerRef:
    name: selfsigned-issuer
    kind: Issuer
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: prometheus
  namespace: monitoring
spec:
  ingressClassName: nginx
  tls:
  - hosts:
    - prometheus.example.com
    secretName: prometheus-selfsigned
  rules:
  - host: prometheus.example.com
    http:
      paths:
      - path: /
        pathType: ImplementationSpecific
        backend:
          service:
            name: prometheus-service
            port:
              number: 8080